<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.mapper.User1Mapper">
    <insert id="reg" parameterType="User1">
        insert into user1 (name1,pwd,nickName,telephone)
        values (#{name1},#{pwd},#{nickName},#{telephone})
    </insert>
    <select id="checkReg" parameterType="String" resultType="int">
        select count(name1)
        from user1
        where name1=#{name1}
    </select>
    <select id="checkLogin" parameterType="User1" resultType="User1">
        select Id,name1,pwd,nickName,telephone,image
        from user1
        where name1=#{name1} and pwd=#{pwd}
    </select>
    <select id="selectUserSkillExist" parameterType="Integer" resultType="Integer">
        select count(*)
        from user_skill
        where userId=#{userId}
    </select>
    <update id="updateTaskWokerId" parameterType="map">
        UPDATE user_task set workerId = #{userId},status = 1 where id = #{id}
    </update>
    <update id="updateImageById" parameterType="User1">
        update user1
        set image=#{image}
        where Id=#{Id}
    </update>
</mapper>