<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.mapper.WorkerMapper">

    <select id="selectAllWorkerMessage" parameterType="map" resultType="map">
        SELECT user1.image,user1.nickName,user1.name1,genre.genre,city.name AS cityName,user_skill.total_score,user1.Id AS workerId
        FROM user_skill
        LEFT JOIN user1 ON user_skill.userId = user1.id
        LEFT JOIN city ON user_skill.skill_address = city.code
        LEFT JOIN genre ON user_skill.skill = genre.id
        WHERE user_skill.skill_address = #{code}
        limit #{begin},#{pageSize}
    </select>

    <select id="selectWorkerByCode" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM user_skill
        LEFT JOIN user1 ON user_skill.userId = user1.id
        LEFT JOIN city ON user_skill.skill_address = city.code
        LEFT JOIN genre ON user_skill.skill = genre.id
        WHERE user_skill.skill_address = #{code}
    </select>

    <select id="selectWorkerMessage" parameterType="Integer" resultType="map">
        select user1.image,user1.nickName,user_detail.email,user1.telephone,user_detail.descr,user_detail.realName,user_detail.addressDesc
        from user_skill
        LEFT JOIN user1 ON user_skill.userId = user1.id
        LEFT JOIN user_detail ON user_skill.userId = user_detail.id
        where user_skill.userId = #{userId}
    </select>

    <select id="selectWorkerAllTasks" parameterType="Integer" resultType="map">
        select user_task.desc,user_task.status,user_task.finishTime
        from user_skill
        LEFT JOIN user_task ON user_skill.userId = user_task.workerId
        where user_skill.userId = #{userId}
    </select>


</mapper>